<div *ngIf="object" class="row">
  <div class="col-md-5">
    <image-viewer [objectId]="objectId"></image-viewer>
  </div>
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Transkription bearbeiten
      </div>
      <div class="panel-body bg-info">
        <tei-root *ngIf="content" [(ngModel)]="content"></tei-root>
      </div>
      <div class="panel-footer">
        <button (click)="saveContent()" class="btn btn-primary">Speichern</button>
        <button (click)="publishContent()" class="btn btn-primary">Veröffentlichen</button>
      </div>
    </div>
  </div>
</div>
