<div *ngIf="objectId" class="row">
  <div [class.col-md-6]="contents.length==1" [class.col-md-4]="contents.length==2">
    <image-viewer [objectId]="objectId"></image-viewer>
  </div>
  <div *ngFor="let content of contents; let i = index" [class.col-md-6]="contents.length==1" [class.col-md-4]="contents.length==2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Transkription
      </div>
      <div class="panel-body bg-info" style="overflow-y: auto; max-height: 750px;">
        <tei-root *ngIf="content" [(ngModel)]="contents[i]"></tei-root>
      </div>
      <div class="panel-footer">
        <div *ngIf="!readOnly">
          <button (click)="saveContent()" class="btn btn-primary">Speichern</button>
          <button (click)="publishContent()" class="btn btn-primary">Veröffentlichen</button>
        </div>
        <div *ngIf="readOnly">
          <div class="alert alert-warning" role="alert">
            Dieses Objekt ist nicht im Bearbeitungsmodus geöffnet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
