<form class="panel panel-primary" (ngSubmit)="register()" #form="ngForm">
  <div class="panel-heading">
    {{ 'title.register' | translate }}
  </div>
  <div class="panel-body">

    <div *ngIf="isLastRegistrationFailed && !isRegistering" class="alert  alert-danger">
        <strong>{{ 'request.registrationFailed' | translate }}</strong> {{ 'command.pleaseTryAgain' | translate }}
    </div>

    <!-- Form Elements-->
    <div class="form-group">
      <label for="mail">{{ 'auth.email' | translate }}*</label>
      <div class="input-group">
        <input [(ngModel)]="user.mail" name="mail" #mail="ngModel" type="email" class="form-control" validateEmail required>
        <span class="input-group-addon">
          <span *ngIf="!(mail.valid)" class="glyphicon glyphicon-minus"></span>
          <span *ngIf="mail.valid" class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="name">{{ 'auth.username' | translate }}*</label>
      <div class="input-group">
        <input [(ngModel)]="user.name" name="name" #name="ngModel" pattern="^[\wäöüÄÖÜ]{3,15}$" type="text" class="form-control" required>
        <span class="input-group-addon">
          <span *ngIf="!(name.valid)" class="glyphicon glyphicon-minus"></span>
          <span *ngIf="name.valid" class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="password">{{ 'auth.password' | translate }}*</label>
      <div class="input-group">
      <input [(ngModel)]="user.password" name="password" #password="ngModel" pattern=".{3,}" type="password" class="form-control" required>
        <span class="input-group-addon">
          <span *ngIf="!(password.valid)" class="glyphicon glyphicon-minus"></span>
          <span *ngIf="password.valid" class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordCheck">{{ 'auth.passwordRepeat' | translate }}</label>
      <div class="input-group">
      <input (keyup)="matchPasswords()" [(ngModel)]="passwordCheck" name="passwordCheck" #passwordCheckVar="ngModel" type="password" class="form-control" required>
        <span class="input-group-addon">
          <span *ngIf="!(isPasswordMatching && password.valid)" class="glyphicon glyphicon-minus"></span>
          <span *ngIf="isPasswordMatching && password.valid" class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </div>
    <!-- End of Form Elements -->

    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
      <span>{{ 'action.send' | translate }}</span>
      <inline-spinner [active]="isRegistering"></inline-spinner>
    </button>
  </div>
</form>
