<form class="panel panel-primary" (ngSubmit)="reset()" #form="ngForm">
  <div class="panel-heading">
    Passwort zurücksetzen
  </div>
  <div class="panel-body">

    <div *ngIf="isLastResetFailed && !isResetting" class="alert  alert-danger">
        <strong>{{ 'request.fail' | translate }}</strong> {{ 'command.pleaseTryAgain' | translate }}
    </div>

    <!-- Form Elements-->
    <div class="form-group">
      <label for="mail">E-Mail-Adresse</label>
      <div class="input-group">
        <input [(ngModel)]="user.mail" name="mail" #mail="ngModel" pattern=".{2,20}@.{2,20}\..{2,5}" type="email" class="form-control" placeholder="E-Mail" required>
        <span class="input-group-addon">
          <span *ngIf="!(mail.valid)" class="glyphicon glyphicon-minus"></span>
          <span *ngIf="mail.valid" class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </div>

    <!--<div class="form-group">
      <label for="name">Nutzername*</label>
      <div class="input-group">
        <input [(ngModel)]="user.name" name="name" #name="ngModel" pattern="^[\wäöüÄÖÜ]{3,15}$" type="text" class="form-control" placeholder="Name" required>
        <span class="input-group-addon">
          <span *ngIf="!(name.valid)" class="glyphicon glyphicon-minus"></span>
          <span *ngIf="name.valid" class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </div>-->
    <!-- End of Form Elements -->


    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
      <span>Absenden</span>
      <inline-spinner [active]="isResetting"></inline-spinner>
    </button>
  </div>
</form>
