*~
node_modules/
*.log
src/app/*.js
src/app/*.js.map
src/app/**/*.js
src/app/**/*.js.map
to-do.txt
web/js/*
web/css/*
web/fonts/*
web/locales/*
literatur/
deprecated/
aot/app/
aot/node_modules/
dist/node_modules/
dist/web/
dist/build.js
