.growing-textarea{
  resize: none;
  width: 100%;
  overflow: hidden;
}

/* editor */
.editor-heading{
  font-size: 150%;
}

.editor-line{
  border: none;
  padding: 2px;
}

.editor-panel{
  border: none;
  border-left: 1px solid #ccc;
  box-shadow: none;
}

.editor-panel-heading{
  padding-top: 3px;
  padding-bottom: 3px;
  color: grey;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}

.editor-link{
  padding: 0px;
}

/* end of editor */

.clickable{
  cursor: pointer;
}

body {
  margin: 2em;
}

.router-link-active{
  background-color: #f0f0f0;
  color: black;
}

h3.wrong{
  color: darkred;
}

.leaflet-container {
    background: white;
    border: 2px solid #ddd;
}
