<h1>{{ 'title.pageManagement' | translate }}</h1>
<div class="panel panel-default">
  <div class=panel-heading>
    <a [routerLink]="['/pages', 'new']" class="btn btn-default">{{ 'action.createNewPage' | translate }}</a>
  </div>
  <table class="table table-striped">
    <tr *ngFor="let page of pages">
      <td>{{ page.name }}</td>
      <td class="text-right">
        <a [routerLink]="['/info',page.name]" class="btn btn-default">{{ 'action.show' | translate }}</a>
        <a [routerLink]="['/pages',page.id]" class="btn btn-default">{{ 'action.edit' | translate }}</a>
        <delete-button (xclick)="deletePage(page)"></delete-button>
      </td>
    </tr>
  </table>
</div>
