<form class="panel panel-primary" (ngSubmit)="save()" #form="ngForm">
  <div class="panel-heading">
    {{ 'title.editPage' | translate }}
  </div>
  <div class="panel-body">

    <div *ngIf="isLastSaveFailed && !isSaving" class="alert  alert-danger">
        <strong>{{ 'request.fail' | translate }}</strong> {{ 'command.pleaseTryAgain' | translate }}
    </div>

    <!-- Form Elements-->
    <div class="form-group">
      <label for="name">{{ 'general.name' | translate }}</label>
      <div class="input-group">
        <input [(ngModel)]="page.name" name="name" #name="ngModel" class="form-control" required>
        <span class="input-group-addon">
          <span *ngIf="!(name.valid)" class="glyphicon glyphicon-minus"></span>
          <span *ngIf="name.valid" class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="url">Inhalt</label>
      <textarea rows="10" [(ngModel)]="page.content" name="content" #content="ngModel" class="form-control" required>
      </textarea>
    </div>

    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
      <span>{{ 'action.save' | translate }}</span>
      <inline-spinner [active]="isSaving"></inline-spinner>
    </button>
    <a [routerLink]="['/pages']" class="btn btn-default">{{ 'action.abort' | translate }}</a>
  </div>
</form>
