<div class="panel panel-default">
  <div class="panel-heading">
    Derek
  </div>
  <div class="panel-body">
    {{ comment.content }}
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" type="button">
      <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge">4</span>
    </button>
    <button class="btn btn-default" type="button">
      <span class="glyphicon glyphicon-thumbs-down"></span> <span class="badge">2</span>
    </button>
    <button class="btn btn-default" type="button">
      <span class="glyphicon glyphicon-trash"></span> <span class="badge">2</span>
    </button>
  </div>
</div>
