<div class="panel panel-default">

  <div class="panel-heading">
    {{ comment.user.name }} <span class="label label-default">{{ comment.createdAt | date }}</span>
  </div>
  <div class="panel-body">
    {{ comment.content }}
  </div>
  <div class="panel-footer">
    <div class="btn-group" *ngIf="currentVote != 'loading'">
      <button [disabled]="!user.isRegistered()" (click)="like()" class="btn btn-default" [class.btn-primary]="currentVote == 'like'" type="button">
        <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge">{{ votings.likes.length }}</span>
      </button>
      <button [disabled]="!user.isRegistered()" (click)="dislike()" class="btn btn-default" [class.btn-primary]="currentVote == 'dislike'" type="button">
        <span class="glyphicon glyphicon-thumbs-down"></span> <span class="badge">{{ votings.dislikes.length }}</span>
      </button>
      <button [disabled]="!user.isRegistered()" (click)="unwanted()" class="btn btn-default" [class.btn-primary]="currentVote == 'unwanted'" type="button">
        <span class="glyphicon glyphicon-trash"></span> <span class="badge">{{ votings.unwanted.length }}</span>
      </button>
    </div>
    <div *ngIf="currentVote == 'loading'">
      <inline-spinner [active]="'true'"></inline-spinner>
    </div>
  </div>
</div>
