<!--
<div class="panel panel-default">
  <div class="panel-heading">Neueste Vokabeln</div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr *ngFor="let vocable of latestVocabulary">
        <td>{{ vocable.term }}<td>
        <td>{{ vocable.translation }}<td>
      </tr>
    </table>

  </div>
</div>
-->
<div class="jumbotron">
  <h1>{{'message.welcome' | translate }}</h1>
  <p>
    {{'text.intro' | translate }}
  </p>
  <img src="web/images/schweinenase.svg" alt="{{ 'general.pigNose' }}" />
</div>
