<div *ngIf="objects && !(page == 0 && objects.length == 0)" class="card">
  <div class="card-header">
    {{ 'title.openVotings' | translate }}
    <span class="toolbar-spacer"></span>
    <span>
      <button mat-icon-button [disabled]="page === 0" (click)="previousPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button [disabled]="objects.length !== 3" (click)="nextPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </span>
  </div>
  <div class="card-body bg-primary">
    <div *ngIf="!objects || objects.length == 0">
      {{ 'message.noOpenVotings' | translate }}
    </div>
    <div class="row">
      <div class="col" *ngFor="let object of objects">
        <tr-object [object]="object"></tr-object>
      </div>
    </div>
  </div>
</div>
