<footer class="jumbotron bg-dark sticky-footer">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/info/impressum']">Impressum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/transcriba">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/contact">Kontakt</a>
      </li>
    </ul>
  </div>
</footer>
