<h1>{{ 'title.sourceManagement' | translate }}</h1>
<div class="panel panel-default">
  <div class=panel-heading>
    <a [routerLink]="['/sources', 'new']" class="btn btn-default">{{ 'action.createNewSource' | translate }}</a>
  </div>
  <table class="table table-striped">
    <tr *ngFor="let source of sources">
      <td>{{ source.title }}</td>
      <td class="text-right">
        <button (click)="activate(source)" *ngIf="!source.activated" class="btn btn-default">{{ 'action.activate' | translate }}</button>
        <button (click)="deactivate(source)" *ngIf="source.activated" class="btn btn-default">{{ 'action.deactivate' | translate }}</button>
        <a [routerLink]="['/sources',source.id]" class="btn btn-default">{{ 'action.edit' | translate }}</a>
      </td>
    </tr>
  </table>
</div>
