<div *ngIf="user && comments">

  <ut-pagination-bar (pageChanged)="setPage($event)" [numOfPages]="numOfPages" [currentPage]="currentPage"></ut-pagination-bar>


  <form (ngSubmit)="addComment()" #form="ngForm">

      <ut-fail-notifier [activated]="!isRequestPending && isLastRequestFailed"></ut-fail-notifier>

      <div class="input-group">
        <input [disabled]="!user.isRegistered()" [(ngModel)]="newComment.content" name="content" class="form-control" required />
        <span class="input-group-btn">
          <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
            <span>{{ 'action.send' | translate }}</span>
            <ut-inline-spinner [active]="isRequestPending"></ut-inline-spinner>
          </button>
        </span>
      </div><!-- /input-group -->

  </form>

  <tr-simple-comment *ngFor="let comment of comments" [comment]="comment"></tr-simple-comment>
  <div class="well" style="margin-top: 15px;" *ngIf="comments.length == 0">
    {{ 'message.noCommentsAvailable' | translate }}
  </div>

</div>
