<h1 class="compact mb-3 mt-3">{{ object.title }}</h1>
<div class="overview-summary d-md-flex">
  <div class="picture">
    <a [routerLink]="'/obj/'+object.id+'/viewer'">
      <img
      style="height: 512px;"
      class="img-responsive"
      [src]="backend.unAuthUrl('TranscribaObjects/'+object.id+'/overview')"
      alt="thumbnail"
      />
    </a>
  </div>
  <div class="info pl-4">
    <dl *ngIf="source">
      <dt>Quelle</dt>
      <dd>{{ source.title }} (ID: {{ object.externalID }})</dd>
      <dt>Tags</dt>
      <dd>
        <span class="badge badge-info">Reinhold Grundemann</span>
        <span class="badge badge-info">Perthes</span>
      </dd>
    </dl>
  </div>
</div>

<h2 class="compact mt-4 mb-3">Zuletzt geschriebene Kommentare</h2>
<disc-discussion-widget
  *ngIf="discussion"
  [numOfItems]="3"
  [discussionId]="discussion.id">
</disc-discussion-widget>
