<div class="jumbotron bg-light">
  <div class="container">
    <div class="media">
      <div class="media-body">
        <h1 class="tr-handwritten">Transcriba</h1>
        <p>
          {{ 'message.transcribaIntro' | translate }}
        </p>
        <button mat-raised-button [routerLink]="['/info/project']">{{ 'action.learnMore' | translate }}</button>
        <button mat-raised-button [routerLink]="['/tutorial']">
          {{ 'general.tutorial' | translate }}
        </button>
        <button *ngIf="!isRegistered()" mat-raised-button color="accent" [routerLink]="['/login']">
          {{ 'action.login' | translate }}
        </button>
        <button *ngIf="!isRegistered()" mat-raised-button color="accent" [routerLink]="['/register']">
          {{ 'action.register' | translate }}
        </button>
      </div>
      <img *ngIf="false" class="d-flex ml-3" src="assets/images/manuscript-sketch.png" alt="manuscript icon">
    </div>
  </div>
</div>

<div>
  <div class="tr-container">
    <tr-busy-widget></tr-busy-widget>
    <tr-voting-suggestion *ngIf="isRegistered()"></tr-voting-suggestion>
  </div>
</div>
