<div class="row">

  <sub-navbar [items]="navItems"></sub-navbar>

  <div class="panel panel-default">
    <div class="panel-heading">
      <input type="text" [(ngModel)]="searchTerm" class="form-control" [placeholder]="'message.searchTitle' | translate" />
    </div>
    <div *ngIf="!isLoading && objects" class="panel-body">
      <div *ngFor="let itemRow of objects" class="row">
        <div *ngFor="let item of itemRow" class="col-sm-6 col-md-4">
          <div class="">
            <a class="thumbnail" [routerLink]="'/obj/'+item.id" class="btn btn-default">
              <img [src]="'http://localhost:3001/api/TranscribaObjects/'+item.id+'/thumbnail'" alt="thumbnail">
            </a>
            <div class="caption">
              <p>{{ item.title }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <table *ngIf="!isLoading && collections" class="table">
      <tr *ngFor="let col of collections">
        <td><a [routerLink]="'/explore/collection/'+col.id">{{ col.name }}</a></td>
      </tr>
    </table>

    <div *ngIf="isLoading" class="panel-footer">
      <be-patient></be-patient>
    </div>
  </div>



</div>
