<div class="row">

  <ut-sub-navbar [items]="navItems"></ut-sub-navbar>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div>
        <input (change)="find()" type="text" [(ngModel)]="searchTerm" class="form-control" [placeholder]="'message.searchTitle' | translate" />
      </div>
      <hr *ngIf="numOfPages > 1" style="margin: 5px;" />
      <ut-pagination-bar
        (pageChanged)="setPage($event)"
        [numOfPages]="numOfPages"
        [currentPage]="currentPage">
      </ut-pagination-bar>
    </div>
    <div *ngIf="!isLoading" class="panel-body">
      <div *ngFor="let itemRow of objects" class="row">
        <div *ngFor="let item of itemRow" class="col-sm-6 col-md-4">
          <div class="">
            <a class="thumbnail" [routerLink]="'/obj/'+item.id" class="btn btn-default">
              <img [src]="backend.unAuthUrl('TranscribaObjects/'+item.id+'/thumbnail')" alt="thumbnail">
              <span style="opacity: 0.6;position: absolute;margin-left: -20px;margin-top: 5px;">
                <i *ngIf="item.status == 'occupied'" class="fa fa-pencil" aria-hidden="true"></i>
                <i *ngIf="item.status == 'voting'" class="fa fa-question" aria-hidden="true"></i>
              </span>
            </a>
            <div class="caption">
              <p>
                <span>{{ item.title }}</span>
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>

    <table *ngIf="!isLoading" class="table">
      <tr *ngFor="let col of collections">
        <td><a [routerLink]="'/explore/collection/'+col.id">{{ col.name }}</a></td>
      </tr>
    </table>

    <div *ngIf="isLoading" class="panel-footer">
      <ut-be-patient></ut-be-patient>
    </div>
  </div>



</div>
