<ut-sub-navbar [items]="navItems"></ut-sub-navbar>

<ut-be-patient *ngIf="!object"></ut-be-patient>
<div *ngIf="object">
  <div *ngIf="mode=='overview'" id="overview">
    <tr-object-overview [object]="object"></tr-object-overview>
  </div>
  <div *ngIf="mode=='transcription'" id="transcription">
    <tr-transcription-viewer [objectId]="object.id"></tr-transcription-viewer>
  </div>
  <div *ngIf="mode=='chronic'" id="transcription">
    <tr-revision-history [objectId]="object.id"></tr-revision-history>
  </div>
  <div *ngIf="mode=='discussion'">
    <tr-simple-discussion [itemsPerPage]="'10'" [discussionId]="object.discussionID">
    </tr-simple-discussion>
  </div>
  <div *ngIf="mode=='viewer'">
    <tr-image-viewer [objectId]="object.id"></tr-image-viewer>
  </div>

</div>
