<sub-navbar [items]="navItems"></sub-navbar>

<be-patient *ngIf="!object"></be-patient>
<div *ngIf="object">
  <div *ngIf="mode=='overview'" id="overview">
    <object-overview [object]="object"></object-overview>
  </div>
  <div *ngIf="mode=='transcription'" id="transcription">
    <transcription-viewer [objectId]="object.id"></transcription-viewer>
  </div>
  <div *ngIf="mode=='chronic'" id="transcription">
    <revision-history [objectId]="object.id"></revision-history>
  </div>
  <div *ngIf="mode=='discussion'">
    <simple-discussion [itemsPerPage]="'10'" [discussionId]="object.discussionID"></simple-discussion>
  </div>
  <div *ngIf="mode=='viewer'">
    <image-viewer [objectId]="object.id"></image-viewer>
  </div>

</div>
